.opacity.delay01,.animate.delay01 {-webkit-animation-delay: .1s;animation-delay: .1s;}
.opacity.delay02,.animate.delay02 {-webkit-animation-delay: .2s;animation-delay: .2s;}
.opacity.delay03,.animate.delay03 {-webkit-animation-delay: .3s;animation-delay: .3s;}
.opacity.delay04,.animate.delay04 {-webkit-animation-delay: .4s;animation-delay: .4s;}
.opacity.delay05,.animate.delay05 {-webkit-animation-delay: .5s;animation-delay: .5s;}
.opacity.delay06,.animate.delay06 {-webkit-animation-delay: .6s;animation-delay: .6s;}
.opacity.delay07,.animate.delay07 {-webkit-animation-delay: .7s;animation-delay: .7s;}
.opacity.delay08,.animate.delay08 {-webkit-animation-delay: .8s;animation-delay: .8s;}
.opacity.delay09,.animate.delay09 {-webkit-animation-delay: .9s;animation-delay: .9s;}
.opacity.delay10,.animate.delay10 {-webkit-animation-delay: 1s;animation-delay: 1s;}
.opacity.delay11,.animate.delay11 {-webkit-animation-delay: 1.1s;animation-delay: 1.1s;}
.opacity.delay12,.animate.delay12 {-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
.opacity.delay13,.animate.delay13 {-webkit-animation-delay: 1.3s;animation-delay: 1.3s;}
.opacity.delay14,.animate.delay14 {-webkit-animation-delay: 1.4s;animation-delay: 1.4s;}
.opacity.delay15,.animate.delay15 {-webkit-animation-delay: 1.5s;animation-delay: 1.5s;}
.opacity.delay16,.animate.delay16 {-webkit-animation-delay: 1.6s;animation-delay: 1.6s;}
.opacity.delay17,.animate.delay17 {-webkit-animation-delay: 1.7s;animation-delay: 1.7s;}
.opacity.delay18,.animate.delay18 {-webkit-animation-delay: 1.8s;animation-delay: 1.8s;}
.opacity.delay19,.animate.delay19 {-webkit-animation-delay: 1.9s;animation-delay: 1.9s;}
.opacity.delay20,.animate.delay20 {-webkit-animation-delay: 2s;animation-delay: 2s;}
.opacity.delay21,.animate.delay21 {-webkit-animation-delay: 2.1s;animation-delay: 2.1s;}
.opacity.delay22,.animate.delay22 {-webkit-animation-delay: 2.2s;animation-delay: 2.2s;}
.opacity.delay23,.animate.delay23 {-webkit-animation-delay: 2.3s;animation-delay: 2.3s;}
.opacity.delay24,.animate.delay24 {-webkit-animation-delay: 2.4s;animation-delay: 2.4s;}
.opacity.delay25,.animate.delay25 {-webkit-animation-delay: 2.5s;animation-delay: 2.5s;}
.opacity.delay26,.animate.delay26 {-webkit-animation-delay: 2.5s;animation-delay: 2.5s;}
.opacity.delay27,.animate.delay27 {-webkit-animation-delay: 2.7s;animation-delay: 2.7s;}
.opacity.delay28,.animate.delay28 {-webkit-animation-delay: 2.8s;animation-delay: 2.8s;}
.opacity.delay29,.animate.delay29 {-webkit-animation-delay: 2.9s;animation-delay: 2.9s;}
.opacity.delay30,.animate.delay30 {-webkit-animation-delay: 3s;animation-delay: 3s;}
.opacity.delay31,.animate.delay31 {-webkit-animation-delay: 3.1s;animation-delay: 3.1s;}
.opacity.delay32,.animate.delay32 {-webkit-animation-delay: 3.2s;animation-delay: 3.2s;}
.opacity.delay33,.animate.delay33 {-webkit-animation-delay: 3.3s;animation-delay: 3.3s;}
.opacity.delay34,.animate.delay34 {-webkit-animation-delay: 3.4s;animation-delay: 3.4s;}
.opacity.delay35,.animate.delay35 {-webkit-animation-delay: 3.5s;animation-delay: 3.5s;}
.opacity.delay36,.animate.delay36 {-webkit-animation-delay: 3.6s;animation-delay: 3.6s;}
.opacity.delay37,.animate.delay37 {-webkit-animation-delay: 3.7s;animation-delay: 3.7s;}
.opacity.delay38,.animate.delay38 {-webkit-animation-delay: 3.8s;animation-delay: 3.8s;}
.opacity.delay39,.animate.delay39 {-webkit-animation-delay: 3.9s;animation-delay: 3.9s;}
.opacity.delay40,.animate.delay40 {-webkit-animation-delay: 4s;animation-delay: 4s;}


@keyframes ani-birdfly {
    0%{
        background-position:0 0;
    }
    100%{
        background-position:-298px 0;
    }
}

@-webkit-keyframes ani-birdfly {
    0%{
        background-position:0 0;
    }
    100%{
        background-position:-298px 0;
    }
}

.ani-birdfly{
    -webkit-animation-name:ani-birdfly;
    -webkit-animation-duration: 0.5s;
    /*-webkit-animation-timing-function: linear;*/
    -webkit-animation-timing-function: steps(2,end);
    /*-webkit-animation-delay: 2s;*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;

    animation-name:ani-birdfly;
    animation-duration: 0.5s;
    /*animation-timing-function: linear;*/
    animation-timing-function: steps(2,end);
    /*animation-delay: 2s;*/
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    /* Safari and Chrome: */
}

@keyframes ani-birdfly2 {
    0%{
        background-position:0 0;
    }
    100%{
        background-position:-514px 0;
    }
}

@-webkit-keyframes ani-birdfly2 {
    0%{
        background-position:0 0;
    }
    100%{
        background-position:-514px 0;
    }
}

.ani-birdfly2{
    -webkit-animation-name:ani-birdfly2;
    -webkit-animation-duration: 0.2s;
    /*-webkit-animation-timing-function: linear;*/
    -webkit-animation-timing-function: steps(2,end);
    /*-webkit-animation-delay: 2s;*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;

    animation-name:ani-birdfly2;
    animation-duration: 0.2s;
    /*animation-timing-function: linear;*/
    animation-timing-function: steps(2,end);
    /*animation-delay: 2s;*/
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    /* Safari and Chrome: */
}

@keyframes ani-drop {
    0%{
        height:0;
    }

    100%{
        height:132px;
    }
}

@-webkit-keyframes ani-drop {
    0%{
        height:0;
    }
    100%{
        height:132px;
    }
}
.ani-drop {
    -webkit-animation:ani-drop 1s steps(3,end)  1  forwards ;
    animation:ani-drop 1s steps(3,end)  1  forwards ;
}

@-webkit-keyframes anitunbig {
    0% {
        -webkit-transform: scale(1);
        -webkit-transform-origin: center center;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        -webkit-transform-origin: center center;
        opacity: 0;
    }
}

.anitunbig {
    -webkit-animation:anitunbig 1s linear 0s infinite  forwards;
    animation:anitunbig 1s linear 0s infinite  forwards;
}


@keyframes ani-move1 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-2030px);
    }
}

@-webkit-keyframes ani-move1 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-2030px);
    }
}
.ani-move1{
    -webkit-animation:ani-move1 47.5s linear 5s infinite normal forwards;
    -moz-animation:ani-move1 47.5s linear 5s infinite normal forwards;
    -o-animation:ani-move1 47.5s linear 5s infinite normal forwards;
    animation:ani-move1 47.5s linear 5s infinite normal forwards;
}

@keyframes ani-move2 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-1281px);
    }
}

@-webkit-keyframes ani-move2 {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-1281px);
    }
}
.ani-move2{
    -webkit-animation:ani-move2 30s linear 0s infinite normal forwards;
    -moz-animation:ani-move2 30s linear 0s infinite normal forwards;
    -o-animation:ani-move2 30s linear 0s infinite normal forwards;
    animation:ani-move2 30s linear 0s infinite normal forwards;
}


@keyframes stamp-move {
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-300px);
        opacity:0;
    }
}

@-webkit-keyframes stamp-move {
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-300px);
        opacity:0;
    }
}

.stamp-move{
    -webkit-animation:stamp-move 0.5s linear 0s 1 normal forwards;
    -moz-animation:stamp-move 0.5s linear 0s 1 normal forwards;
    -o-animation:stamp-move 0.5s linear 0s 1 normal forwards;
    animation:stamp-move 0.5s linear 0s 1 normal forwards;
}

@keyframes ani-good {
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-100%);
        opacity:0;
    }
}

@-webkit-keyframes ani-good {
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-100%);
        opacity:0;
    }
}

.ani-good{
    -webkit-animation:ani-good 0.5s linear 0s 1 normal forwards;
    -moz-animation:ani-good 0.5s linear 0s 1 normal forwards;
    -o-animation:ani-good 0.5s linear 0s 1 normal forwards;
    animation:ani-good 0.5s linear 0s 1 normal forwards;
}

@keyframes ani-hand {
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(-24px,-30px);
    }
}

@-webkit-keyframes ani-hand {
    0%{
        -webkit-transform:translate(0,0);
    }
    100%{
        -webkit-transform:translate(-24px,-30px);
    }
}

.ani-hand{
    -webkit-animation:ani-hand 1s ease-out 0s 1 normal forwards;
    -moz-animation:ani-hand 1s ease-out 0s 1 normal forwards;
    -o-animation:ani-hand 1s ease-out 0s 1 normal forwards;
    animation:ani-hand 1s ease-out 0s 1 normal forwards;
}


@keyframes ani-leaf1 {
    50%{
        transform-origin: left bottom;
        transform:rotateY(45deg) rotateZ(-15deg);
    }
}

@-webkit-keyframes ani-leaf1 {
    50%{
        transform-origin: left bottom;
        transform:rotateY(45deg) rotateZ(-15deg);
    }
}

.ani-leaf1{
    -webkit-animation:ani-leaf1 7s ease-in-out 0s infinite alternate forwards;
    -moz-animation:ani-leaf1 7s ease-in-out 0s infinite alternate forwards;
    -o-animation:ani-leaf1 7s ease-in-out 0s infinite alternate forwards;
    animation:ani-leaf1 7s ease-in-out 0s infinite alternate forwards;
}

@keyframes ani-leaf2 {
    50%{
        transform-origin: right bottom;
        transform:rotateY(5deg) rotateZ(-4deg) rotateX(8deg);
    }
}

@-webkit-keyframes ani-leaf2 {
    50%{
        transform-origin: right bottom;
        transform:rotateY(5deg) rotateZ(-4deg) rotateX(8deg);
    }
}

.ani-leaf2{
    -webkit-animation:ani-leaf2 7s ease-in-out 0s infinite alternate forwards;
    -moz-animation:ani-leaf2 7s ease-in-out 0s infinite alternate forwards;
    -o-animation:ani-leaf2 7s ease-in-out 0s infinite alternate forwards;
    animation:ani-leaf2 7s ease-in-out 0s infinite alternate forwards;
}

@keyframes ani-leaf3 {
    50%{
        transform-origin: right bottom;
        transform:rotateX(15deg);
    }
}

@-webkit-keyframes ani-leaf3 {
    50%{
        transform-origin: right bottom;
        transform:rotateX(15deg);
    }
}

.ani-leaf3{
    -webkit-animation:ani-leaf3 7s ease-in-out 0s infinite alternate forwards;
    -moz-animation:ani-leaf3 7s ease-in-out 0s infinite alternate forwards;
    -o-animation:ani-leaf3 7s ease-in-out 0s infinite alternate forwards;
    animation:ani-leaf3 7s ease-in-out 0s infinite alternate forwards;
}


@keyframes ani-leaf4 {
    50%{
        transform-origin: left bottom;
        transform:rotateX(15deg);
    }
}

@-webkit-keyframes ani-leaf4 {
    50%{
        transform-origin: left bottom;
        transform:rotateX(15deg);
    }
}

.ani-leaf4{
    -webkit-animation:ani-leaf4 7s ease-in-out 0s infinite alternate forwards;
    -moz-animation:ani-leaf4 7s ease-in-out 0s infinite alternate forwards;
    -o-animation:ani-leaf4 7s ease-in-out 0s infinite alternate forwards;
    animation:ani-leaf4 7s ease-in-out 0s infinite alternate forwards;
}

@keyframes ani-leaf5 {
    100%{
        transform-origin: right top;
        transform:rotateX(15deg) rotateY(15deg);
    }
}

@-webkit-keyframes ani-leaf5-leaf4 {
    100%{
        transform-origin: right top;
        transform:rotateX(15deg) rotateY(15deg);
    }
}

.ani-leaf5{
    -webkit-animation:ani-leaf5 4s ease-in-out 0s infinite alternate forwards;
    -moz-animation:ani-leaf5 4s ease-in-out 0s infinite alternate forwards;
    -o-animation:ani-leaf5 4s ease-in-out 0s infinite alternate forwards;
    animation:ani-leaf5 4s ease-in-out 0s infinite alternate forwards;
}

@keyframes ani-hand2 {
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(-5px,63px);
    }
}

@-webkit-keyframes ani-hand2 {
    0%{
        -webkit-transform:translate(0,0);
    }
    100%{
        -webkit-transform:translate(-5px,63px);
    }
}

.ani-hand2{
    -webkit-animation:ani-hand2 1s ease-out 0s 1 normal forwards;
    -moz-animation:ani-hand2 1s ease-out 0s 1 normal forwards;
    -o-animation:ani-hand2 1s ease-out 0s 1 normal forwards;
    animation:ani-hand2 1s ease-out 0s 1 normal forwards;
}



@-webkit-keyframes ani-toBig1 {
    100% {
        -webkit-transform:scale(1);
        -webkit-transform-origin:right bottom;
    }
}
@keyframes ani-toBig1 {
    100% {
        transform:scale(1);
        transform-origin:right bottom;
    }
}

.ani-toBig1 {
    -webkit-animation:ani-toBig1 1s ease-out 0s 1 normal forwards;
    -moz-animation:ani-toBig1 1s ease-out 0s 1 normal forwards;
    -o-animation:ani-toBig1 1s ease-out 0s 1 normal forwards;
    animation:ani-toBig1 1s ease-out 0s 1 normal forwards;
}

@-webkit-keyframes ani-toBig2 {
    100% {
        -webkit-transform:scale(1);
        -webkit-transform-origin:left bottom;
    }
}
@keyframes ani-toBig2 {
    100% {
        transform:scale(1);
        transform-origin:left bottom;
    }
}

.ani-toBig2 {
    -webkit-animation:ani-toBig2 1s ease-out 0s 1 normal forwards;
    -moz-animation:ani-toBig2 1s ease-out 0s 1 normal forwards;
    -o-animation:ani-toBig2 1s ease-out 0s 1 normal forwards;
    animation:ani-toBig2 1s ease-out 0s 1 normal forwards;
}

@-webkit-keyframes ani-fadeOut {
    0%{
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes ani-fadeOut {
    0%{
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.ani-fadeOut {
    -webkit-animation:ani-fadeOut 0.5s linear 0s 1  forwards;
    -moz-animation:ani-fadeOut 0.5s linear 0s 1  forwards;
    -o-animation:ani-fadeOut 0.5s linear 0s 1  forwards;
    animation:ani-fadeOut 0.5s linear 0s 1  forwards;
}


@-webkit-keyframes ani-fadeIn {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes ani-fadeIn {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.ani-fadeIn {
    -webkit-animation:ani-fadeIn 0.5s linear  1  forwards;
    animation:ani-fadeIn 0.5s linear 1 forwards;
}


@-webkit-keyframes ani-bgmRotate {
    0%{
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes ani-bgmRotate {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.ani-bgmRotate{
    -webkit-animation:ani-bgmRotate 1s linear 0s infinite forwards;
    animation:ani-bgmRotate 1s linear 0s infinite forwards;
}
.ani-bgmRotate.ani-bgmPause{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
}

@keyframes ani-arrdown {
    100%{
        transform:translateY(30px);
        opacity:1;
    }
}

@-webkit-keyframes ani-arrdown {
    100%{
        -webkit-transform:translateY(30px);
        opacity:1;
    }
}

.ani-arrdown{
    -webkit-animation:ani-arrdown 2s ease-out 0s infinite normal forwards;
    -moz-animation:ani-arrdown 2s ease-out 0s infinite normal forwards;
    -o-animation:ani-arrdown 2s ease-out 0s infinite normal forwards;
    animation:ani-arrdown 2s ease-out 0s infinite normal forwards;
}