/*
@名称: base
@功能: 重设浏览器默认样式
*/
*{
    box-sizing:border-box;
}
html {
    color: #fff;
    font-size: 24px;
    background: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl,dt,dd,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.clearflot{
    clear:both;
}
input {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/* 去除默认边框 */
fieldset, img, a img {
    border: 0;
}

/*img {*/
    /*display: inline;*/
    /*vertical-align: middle;*/
/*}*/

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
    list-style: none;
    -webkit-margin: 0;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

ins, a {
    text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

img{
    display: block;
    position: absolute;
}

a, button, input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    -webkit-touch-callout: none;
    -ms-tap-highlight-color: rgba(255, 0, 0, 0);
    -ms-touch-callout: none;
    -moz-tap-highlight-color: rgba(255, 0, 0, 0);
    -moz-touch-callout: none;
    tap-highlight-color: rgba(255, 0, 0, 0);
    touch-callout: none;
}

/*placeholder颜色*/
::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.transmain {
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

/* Css Reset End */


/*container*/
.container {
    width: 100%;
    height: 100%;
    max-height:1080px;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
}

.none{
    display: none;
}
.color1{color:#ba8d53;}
.opacity{opacity:0;}

.P_bg{z-index:1;}
    .bg-pic{left:0;top:0;}
    .bg1-bottom{width:640px;height:240px;position: absolute;top:800px;left:0;perspective:800px;}
    .bg2-bottom{width:640px;height:240px;position: absolute;top:842px;left:0;perspective:800px;}
        .bg-left-leaf1{top:0;left:-15px;}
        .bg-left-leaf2{top:112px;left:135px;}
        .bg-right-leaf1{top:40px;right:150px;}
        .bg-right-leaf2{top:67px;right:70px;}
    .bg1-top{right:-44px;top:30px;width:134px;height:184px;position: absolute;perspective: 800px;}

.top{height:44px;width:640px;position:absolute;top:16px;z-index:99;}
    .logo{top:5px;left:30px;}
    .music-btn{top:0;right:20px;}
    .rule-btn{top:0;right:80px;}

.P_rule{z-index:100;}
    .rule-mask{position:absolute;width:100%;height:100%;background-color: rgba(0,0,0,0.8);}
        .rulexx{top:50px;right:70px;}
        .rule{top:142px;left:50%;margin-left:-253px;}

.P_share{z-index:100;background-color:rgba(0,0,0,0.8);}
    .share-txt{top:120px;left:280px;}
    .share-bird{top:25px;right:50px;}

.P_Address{background-color:rgba(0,0,0,0.8);z-index:200;}
    .address-txt{top:172px;left:50%;margin-left:-200px;}
    .selectBox2{top:336px;}
    .add-tip{top:614px;left:50%;margin-left:-230px;}
    .add-xx{left:50%;margin-left:-16px;top:854px;}
.numberFont{font-family: Arial;}